:root {
  --text: #14050f;
  --light: #fcfcfd;
  --background: #f3eaff;
  --primary: #5a04c8;
  --primary-shade: #923dff;
  --secondary: #ee80a7;
  --accent: #e8504f;
  font-size: 2vh;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  line-height: 2.1vh;
  background-color: var(--text);
  color: var(--light);
}
.main__container {
  width: 100%;
  height: 100vh;
}
.project-body__container--light {
  width: 100%;
  height: 100vh;
  background-color: var(--light);
  position: relative;
  border-radius: 2vh;
  border: 0.3vh solid transparent;
  background-image: linear-gradient(#fcfcfd, #fcfcfd),
    linear-gradient(to bottom, #e8504f 80%, #ee80a7 90%, #5a04c8 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.project-body__container--spinner {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  z-index: 1000;
  transform: translateY(67vh);
}
.project-body__container {
  width: 100%;
  height: 75vh;
  background-color: var(--primary);
  border-radius: 0 0 2vh 2vh;
  position: absolute;
}
.spinner {
  justify-self: center;
  position: absolute;
  color: var(--secondary) !important;
}
.header__container {
  width: 36vh;
  height: 12vh;
  margin-top: 10vh;
}
.header__logo {
  width: 9vh;
  height: 9.5vh;
  margin: 1vh;
}
.header__heading {
  width: 20vh;
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  font-variant: small-caps;
  letter-spacing: 0.2rem;
  line-height: 1.33;
  padding-top: 1.5vh;
}
.bar {
  width: 42vh;
  height: 5.5vh;
  margin: 9vh 0;
}
.bar__button {
  width: 13.8vh;
  height: 5vh;
  background-color: var(--primary-shade);
  border-color: var(--primary-shade);
  border-width: 0.3vh 0;
  border-style: solid;
}
.bar__button:first-of-type {
  border-radius: 2vh 0 0 2vh;
  border-width: 0.3vh 0 0.3vh 0.3vh;
}
.bar__button:last-of-type {
  border-radius: 0 2vh 2vh 0;
  border-width: 0.3vh 0.3vh 0.3vh 0;
}
.bar__button--active {
  background-color: var(--secondary);
}
.bar__button-paragraph {
  font-size: 1.2rem;
  margin: 0;
}
.section__container {
  width: 42vh;
  height: 30vh;
}
.input__container {
  width: 36vh;
  height: 7vh;
  background-color: var(--light);
  border-radius: 2vh;
  border: var(--light) 0.3vh solid;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  margin: 2vh 0;
}
.input {
  width: 33vh;
  height: 6.5hv;
  border: none;
  outline: none;
  caret-color: var(--accent);
  background-color: var(--light);
  border-radius: 2vh;
  letter-spacing: 0.8px;
  color: var(--accent);
  font-size: 1.6rem;
  text-align: center;
  -moz-appearance: textfield;
  appearance: none;
}
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input::placeholder {
  color: var(--accent);
  font-variant: small-caps;
}
.count__container {
  width: 19vh;
  height: 8vh;
  margin: 2vh 0;
}
.count__button {
  width: 23.4vh;
  height: 7vh;
  background-color: var(--accent);
  border-color: var(--accent);
  border-width: 0.3vh 0;
  border-style: solid;
  border-radius: 2vh;
  font-size: 1.2rem;
  color: var(--light);
  text-align: center;
  margin: 0;
  letter-spacing: 0.8px;
}

.output__container {
  width: 43vh;
  height: 12vh;
  margin: 5vh 0;
}
.output__paragraph--value {
  height: 10vh;
  font-size: 3.2rem;
  font-weight: 200;
  color: var(--text);
  margin: 0;
}
.output__paragraph--currency {
  height: 10vh;
  font-size: 1.6rem;
  font-weight: 200;
  color: var(--text);
  margin: 0 1vh;
  align-self: self-end;
}
